@use 'variables' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $c3;
	display: flex;
	justify-content: center;
}

.roboto-regular {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.roboto-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.content {
	display: flex;
	background-color: $c5;
	width: 350px;
	height: 750px;
	display: flex;
	flex-direction: column;
	&__image {
		background-image: url('../assets/images/illustration-sign-up-mobile.svg');
		height: calc(100% / 3);
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		// border-bottom-left-radius: 15px;
		// border-bottom-right-radius: 15px;
		border-radius: 0 0 15px 15px;
	}
	&__text-area {
		display: flex;
		flex-direction: column;
		padding: 30px;
		justify-content: flex-start;
		align-items: flex-start;
	}
	&__header {
		font-size: 38px;
		margin-top: 10px;
	}
	&__add {
		margin-top: 20px;
		font-size: 14px;
		margin-bottom: 15px;
	}
	&__advantages {
		margin-top: 15px;
		display: flex;
		justify-content: center;
		&-image {
			background-image: url('../assets/images/icon-list.svg');
			width: 22px;
			margin-right: 20px;
			background-size: contain;
			background-repeat: no-repeat;
		}
		&-description {
			font-size: 15px;
		}
	}
	&__labels {
		margin-top: 40px;
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}
	&__error {
		font-size: 12px;
		color: red;
	}
	&__input-label {
		font-size: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__input {
		margin-top: 5px;
		padding: 18px;
		border-radius: 10px;
		border: 1px solid #edd8d8;
		width: 100%;
		&::placeholder {
			color: $c4;
			font-weight: 400;
			font-size: 16px;
		}
		&.invalid {
			background-color: rgb(236, 150, 150);
			color: $c1;
			border: 1px solid red;
		}
	}
	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 30px;
		text-decoration: none;
		padding: 18px;
		width: 100%;
		background-color: $c2;
		color: $c5;
		border-radius: 10px;
		&:hover {
			background: linear-gradient(to right, rgb(255, 88, 106), rgb(255, 99, 74));
		}
	}
}

.success {
	width: 350px;
	height: 750px;
	background-color: $c5;
	padding: 30px;
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	&__image {
		margin-top: 120px;
		height: 65px;
	}
	&__header {
		margin-top: 35px;
		font-size: 38px;
		line-height: 40px;
	}
	&__paragraph {
		font-size: 16px;
		line-height: 22px;
		margin-top: 25px;
	}
	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 210px;
		text-decoration: none;
		padding: 18px;
		width: 100%;
		background-color: $c2;
		color: $c5;
		border-radius: 10px;
		&:hover {
			background: linear-gradient(to right, rgb(255, 88, 106), rgb(255, 99, 74));
		}
	}
}

@media screen and (min-width: 1200px) {
	.content {
		flex-direction: row-reverse;
		margin-top: 200px;
		width: 1100px;
		padding: 30px;
		border-radius: 40px;
		&__image {
			width: 45%;
			height: 100%;
			border-radius: 20px;
			background-image: url('../assets/images/illustration-sign-up-desktop.svg');
		}
		&__text-area {
			width: 55%;
			height: 100%;
			padding: 40px;
		}
		&__header {
			margin-top: 50px;
			font-size: 50px;
		}
		&__add {
			margin-top: 40px;
			font-size: 20px;
			margin-bottom: 25px;
		}
		&__advantages {
			margin-top: 25px;
			&-image {
				width: 30px;
			}
			&-description {
				font-size: 18px;
			}
		}
		&__error {
			font-size: 14px;
		}
		&__input-label {
			font-size: 14px;
		}
		&__input {
			margin-top: 5px;
			padding: 18px;
			border-radius: 10px;
			border: 1px solid #edd8d8;
			width: 100%;
			&::placeholder {
				color: $c4;
				font-weight: 400;
				font-size: 16px;
			}
		}
	}
	.success {
		margin-top: 200px;
		width: 500px;
		height: 550px;
		padding: 50px;
		border-radius: 25px;
		&__image {
			margin-top: 15px;
			height: 65px;
		}
		&__header {
			margin-top: 35px;
			font-size: 50px;
			line-height: 50px;
		}
		&__paragraph {
			font-size: 18px;
			line-height: 25px;
			margin-top: 25px;
		}
		&__button {
			margin-top: 60px;
		}
	}
}
